* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    padding: 8px;
}

textarea {
    width: 100%; /* Faz o textarea ocupar toda a largura do contêiner pai */
    height: 150px; /* Altura fixa para o textarea */
    box-sizing: border-box; /* Inclui padding e bordas na largura e altura */
    resize: vertical; /* Permite redimensionar apenas na vertical */
    border-radius: 5px;
    font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f5;
}

.navbar {
    background-color: #002d4f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.menu-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
}

.logo {
    height: 60px;
    align-content: center;
}

.breadcrumb {
    list-style: none;
    display: flex;
    gap: 10px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.breadcrumb a i {
    margin-right: 5px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-initials {
    background-color: #5e55d4;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-buttons button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#open-called {
    background-color: #002d4f;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#open-called:hover {
    background-color: #004080;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    font-size: 16px;
}

.search-box input {
    border: none;
    padding: 10px;
    font-size: 18px;
}

.search-box input::placeholder {
    font-size: 16px;
}

.search-class {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

#search-button {
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 28px;
    line-height: 1;
}

#search-button:hover {
    background-color: #004080;
}


.filters-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.filter-options {
    margin-top: auto;
    display: flex;
    gap: 15px;
}

.filter-options select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.results-section {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.result-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.result-item p {
    color: #888;
}

#modal-called, #modal-update, #modal-delete {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 80%; /* Largura máxima do modal */
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-generic {
    background-color: #002d4f;
    color: white;
    padding: 10px;
    width: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.button-generic:hover{
    background-color: #004080;
}

#title {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #767676;
    width: 40%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.model-title {
    margin-bottom: 30px;
}

.admin-dashboard {
    display: flex;
    justify-content: space-between; /* Para espaçar igualmente entre os itens */
    gap: 20px; /* Espaçamento entre as áreas */
    padding: 20px;
}

/* Define o tamanho das seções */
.users-area, .called-area {
    flex: 1; /* Faz com que ambos ocupem o mesmo espaço */
    border: 1px solid #ccc;
    padding: 20px;
}

@media (max-width: 768px) {
    .admin-dashboard{
        flex-direction: column;
    }
    .modal-content{
        width: 90%;
        max-width: 90%;
        margin: 10% auto;
    }
}

#user-list {
    display: flex;
    flex-direction: column; /* Exibe os itens em coluna */
    gap: 10px; /* Espaço entre os itens */
    padding: 20px;
}

.user-item {
    background-color: #fff; /* Fundo branco para cada item */
    border: 1px solid #ddd; /* Borda leve para separação */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.user-item:hover {
    background-color: #f0f8ff; /* Cor de fundo ao passar o mouse */
}

.user-item p {
    margin: 5px 0; /* Margem entre os parágrafos */
}

.user-item p strong {
    display: inline-block;
    width: 150px; /* Largura fixa para rótulos */
    color: #333; /* Cor do texto dos rótulos */
}

.user-buttons {
    margin-top: 10px;
}

.user-buttons button {
    background-color: #002d4f;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

.user-buttons button:hover {
    background-color: #004080;
}

#modal-delete .modal-content {
    width: 45%; /* Diminui a largura do modal */
    max-width: 45%; /* Define um limite máximo de largura */
}

#modal-delete .button-generic {
    width: 80px; /* Diminui a largura dos botões */
    margin: 10px; /* Adiciona margem entre os botões */
    display: inline-block; /* Faz com que os botões sejam exibidos um ao lado do outro */
}

#modal-delete .modal-content {
    text-align: center; /* Centraliza o conteúdo no modal */
}

#modal-delete .modal-content p {
    margin-bottom: 20px; /* Adiciona espaço abaixo do texto */
}

#modal-update input,
#modal-update select {
    width: 50%; /* Faz os campos ocuparem toda a largura disponível */
    padding: 10px; /* Adiciona espaçamento interno */
    font-size: 18px; /* Define o tamanho da fonte */
    border: 1px solid #ccc; /* Define uma borda consistente */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 15px; /* Espaçamento entre os campos */
    box-sizing: border-box; /* Inclui padding na largura e altura */
}

#modal-update input::placeholder {
    font-size: 16px; /* Define o tamanho da fonte do placeholder */
}


