<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/adminPanel.css">
    <script src="/js/adminPanel.js"></script>
</head>
<body>
<header>
    <div class="navbar">
        <button class="menu-btn">☰</button>
        <img src="/images/logo.png" alt="Logo" class="logo">
        <div class="profile">
            <div class="profile-initials" id="profile-initials">

            </div>
            <div id="logout-menu" class="logout-menu" style="display: none;">
                <button id="logout-btn">Logout</button>
            </div>
        </div>
    </div>
</header>

<main class="admin-dashboard">
    <div class="user-area">
        <section class="filters-section">
            <ul>
                <h2>Área de Usuários</h2>
            </ul>
            <ul>
                <div class="filter-buttons">
                    <div class="search-box">
                        <input type="text" class="search-class" placeholder="Pesquisar Usuários">
                        <button id="search-button">🔍</button>
                    </div>
                </div>
            </ul>
            <ul>
                <div class="filter-options">
                    <select>
                        <option selected>Status</option>
                        <option>Abertos</option>
                        <option>Em atendimento</option>
                        <option>Pendentes</option>
                        <option>Solucionados</option>
                    </select>
                    <select>
                        <option selected>Recentes</option>
                        <option>Alfabética ⬆️</option>
                        <option>Alfabética ⬇️</option>
                    </select>
                </div>
            </ul>
        </section>
        <section class="results-section" id="user-results">
            <div id="user-list">

            </div>
            <div class="result-item">
                <p>Nenhum item encontrado</p>
            </div>
        </section>
    </div>
    <div class="called-area">
        <section class="filters-section">
            <ul>
                <h2>Área de Chamados</h2>
            </ul>
            <ul>
                <div class="filter-buttons">
                    <button id="open-called">+</button>
                    <div class="search-box">
                        <input type="text" class="search-class" placeholder="Pesquisar Chamado">
                        <button id="search-button">🔍</button>
                    </div>
                </div>
            </ul>
            <ul>
                <div class="filter-options">
                    <select>
                        <option selected>Características - Status</option>
                        <option>Abertos</option>
                        <option>Pendentes</option>
                        <option>Solucionados</option>
                    </select>
                    <select>
                        <option selected>Não solucionados</option>
                        <option>Solucionados</option>
                    </select>
                </div>
            </ul>
        </section>
        <section class="results-section" id="called-results">
            <div id="called-list">

            </div>
            <div class="result-item">
                <p>Nenhum item encontrado</p>
            </div>
        </section>
    </div>
</main>
<div id="modal-called" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="model-title">Cadastro de Chamados</h2>
        <div id="message" style="display: none"></div>
        <form method="POST" action="/chamados" id="cadastroChamadosForm">
            <label for="title">Título:</label><br>
            <input type="text" id="title" name="titulo" required><br><br>
            <label for="description">Descrição:</label><br>
            <textarea id="description" name="descricao" placeholder="Informe qual o problema está enfrentando" required></textarea><br><br>
            <button type="submit" class="button-generic">Enviar</button>
        </form>
    </div>
</div>
<div id="modal-update-called" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="model-title">Chamado</h2>
        <div id="message" style="display: none"></div>
        <form id="update-chamados-form">
            <label for="titulo">Título:</label><br>
            <p id="titulo"></p><br><br>
            <label for="descricao">Descrição:</label><br>
            <p id="descricao"></p><br><br>
            <label for="solicitante">Aberto por:</label><br>
            <p id="solicitante"></p><br><br>
            <label for="atendente">Atribuído à:</label><br>
            <p id="atendente"></p><br><br>
            <label for="status">Status:</label><br>
            <select id="attStatus">
                <option value="Aberto">🟢 Aberto</option>
                <option value="Em atendimento">🔵 Em atendimento</option>
                <option value="Pendente">🟡 Pendente</option>
                <option value="Solucionado">🔴 Solucionado</option>
                <option value="Fechado">⚫ Fechado</option>
            </select>
            <button type="submit" class="button-generic">Salvar</button>
        </form>
    </div>
</div>
<div id="modal-update" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="model-title">Atualizar Usuário</h2>
        <form id="update-user-form">
            <label for="name">Nome:</label><br>
            <input type="text" id="attName" required><br><br>
            <label for="cpf">CPF:</label><br>
            <input type="text" id="attCPF" required><br><br>
            <label for="email">E-mail:</label><br>
            <input type="text" id="attEmail" required><br><br>
            <label for="userType">Tipo de Usuário:</label><br>
            <select id="attUserType">
                <option value="Usuário">Usuário</option>
                <option value="Atendente">Atendente</option>
                <option value="Administrador">Administrador</option>
            </select><br><br>
            <button type="submit" class="button-generic">Salvar</button>
        </form>
    </div>
</div>
<div id="modal-delete" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="model-title">Excluir Usuário</h2>
        <p>Tem certeza que deseja excluir esse usuário ?</p>
        <button type="submit" class="button-generic" id="confirm-delete" data-id="">Sim</button>
        <button type="reset" class="button-generic" id="cancel-delete">Não</button>
    </div>
</div>
</body>
</html>